[submodule "microservices/db-infrastructure"]
	path = microservices/db-infrastructure
	url = https://github.com/FIAP-8SOAT-G6/db-infrastructure
[submodule "microservices/k8s-infrastructure"]
	path = microservices/k8s-infrastructure
	url = https://github.com/FIAP-8SOAT-G6/k8s-infrastructure
[submodule "microservices/tech-challenge-swagger-ui"]
	path = microservices/tech-challenge-swagger-ui
	url = https://github.com/FIAP-8SOAT-G6/tech-challenge-swagger-ui
[submodule "microservices/customer"]
	path = microservices/customer
	url = https://github.com/FIAP-8SOAT-G6/tech-challenge-customer
[submodule "microservices/products"]
	path = microservices/products
	url = https://github.com/FIAP-8SOAT-G6/tech-challenge-products
[submodule "microservices/orders"]
	path = microservices/orders
	url = https://github.com/FIAP-8SOAT-G6/tech-challenge-orders
